body{
    background-color: #E3E3E3;
}

.js-collapsed{
  display:none;
}
.js-delete-info,.js-save-info,.js-update-infos{
  float: right;
}

.hide{
  display: none;
}

.times{
  background: lightgray;
  width: 15vmin;
  height: 5vmin;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.lesson{
    width: 45vmin;
    height: 7vmin;
    display: inline-block;
}
.lessonLeft{
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 49%;
  height: 100%;
  background: var(--gradient);
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-direction: column;
}
.lessonRight{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 49%;
  height: 100%;
  float: right;
}
.name{
  width: 100%;
  height: 50%;
  font-weight: 800;
}
.extra{
  width: 100%;
  height: 50%;
}
.startTime{
  display: inline-block;
  width: 100%;
  height: 50%;
}
.finishTime{
  display: inline-block;
  width: 100%;
  height: 50%;
}
.devider{
  width: 6%;
  display: inline-block;
}

.popover{
  width: 50vmin;
  max-width: none;
  height: 50vmin;
}
.popover-body{
  padding: 0;
}
.popoverImage{
  width: 100%;
  height: 30vmin;
}
.title{
    font-weight: 300;
    font-size: 2.5vmin;
    margin-left: 1vmin;
}
.reserve{
  color: blue;
  position: absolute;
  bottom: 0.5vmin;
  left: 1vmin;
}
.iconInformation{
  display: inline-block;
}

.clear{
	opacity: 0;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-height: 69vh;
    max-width: 70vmin;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.modalRight{
    color: white;
    font-size: 5vmin;
    right: 2vmin;
    position: absolute;
    top: 40%;
}

.modalLeft{
    color: white;
    font-size: 5vmin;
    left: 2vmin;
    position: absolute;
    top: 40%;
}

.clubsJumbotron {
    margin-bottom: 0px;
    background-image: url(https://sassets.knvb.nl/sites/knvb.nl/files/styles/ls-1920x1080/public/19112692.jpg?itok=smo_kQzd);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 50vh;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.button1{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.button2{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    transform-origin: bottom left;
    -ms-transform: skew(-15deg, 0deg);
    -webkit-transform: skew(-15deg, 0deg);
    transform: skew(-15deg, 0deg);
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
    border:0px solid transparent; /* this was 1px earlier */
}



.button2 span{
    -moz-text-replace: skew( 15deg, 0deg);
    -ms-text-replace: skew( 15deg, 0deg);
    text-replace: skew( 15deg, 0deg);
}

.button3{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    z-index: 0;
}

.skewbuttons{
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
    height: 60px;
}
.display-4{
    font-size: 45px;

}

.max-width{
    max-width: 65vw;
    margin: 0 auto;
}

.card{
    min-width: 65vw !important;
    max-width: 65vw !important;
}


/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.db-button-color-square:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
}


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

.db-pricing-eleven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.db-pricing-eleven ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.db-pricing-eleven ul li i {
    margin-right: 5px;
}


.db-pricing-eleven .price {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px 20px 20px;
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
}

.db-pricing-eleven .price small {
    color: #B8B8B8;
    display: block;
    font-size: 12px;
    margin-top: 22px;
}

.db-pricing-eleven .type {
    background-color: #52E89E;
    padding: 50px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
    padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

.db-pricing-eleven.popular .price {
    padding-top: 80px;
}
