:root{
	--primary: #F55922;
	--primary-hover: #F13A0E;
	--gradient: linear-gradient(to right, var(--primary) , var(--primary-hover));
}

.login-carousel{
    top: 40px;
    width: 18rem;
    bottom: 40px;
    right: 12vw;
}
.gradient{
	background: var(--gradient);
	color: white;
}
.title{
	font-weight:300;
}