<<<<<<< Updated upstream
=======
:root{
	--primary: #F55922;
	--primary-hover: #F13A0E;

	--secondary:#2E428A;
	--secondary-hover:#1A2659;

	--gradient: linear-gradient(to right, var(--primary) , var(--primary-hover));
	--gradient-hover: linear-gradient(to right, var(--secondary) , var(--secondary-hover));
}
body{
	overflow-x: hidden;
}
.login-carousel{
    top: 20%;
    width: 18rem;
    right: 12vw;
}

.btn-primary{
	background: var(--gradient);
	border-color: transparent;
	color: white;
}
.btn-primary:hover{
	background: var(--gradient-hover);
	border-color: transparent;
	color: white;
}

.btn-secondary{
	background: var(--gradient-hover);
	border-color: transparent;
	color: white;
}
.btn-secondary:hover{
	background: var(--gradient);
	border-color: transparent;
	color: white;
}

.gradient{
	background: var(--gradient);
	color: white;
}
.title{
	font-weight:300;
}
.skew{z-index: 1;}
.skew::before {
	content: " ";
    background: white;
    height: 100px;
    left: 0;
    right: 0;
    top: 190px;
    z-index: -1;
    position: absolute;
    transform-origin: bottom left;
    -ms-transform: skew(0deg, -5deg);
    -webkit-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
}

.clear{
	opacity: 0;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
}
>>>>>>> Stashed changes
