span, h1, h4, .symbool, button{
    color: var(--primary)!important;
}

span:hover{
    color: var(--primary-hover);
}

article:hover{
    border-color: var(--primary-hover) !important;
}

#map{
    width: 100% !important;
    height: 1000px !important;
}

.center{
    text-align: center;
}

.leftSmall{
    float: right!important;
}